.wrapper {
  --search-width: 360px;
  --search-height: 46px;
  --search-btn-width: 52px;
  --search-top-spacer: 9px;
  --border-radius: 92px;

  width: 100%;
  height: var(--default-layout-header-height);
  box-shadow: 0px 1px 1px rgba(0 0 0 /12%);
  display: flex;
  justify-content: center;
}

.inner {
  height: 100%;
  width: var(--default-layout-width);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--default-layout-horizontal-spacer);
}

.search {
  position: relative;
  width: var(--search-width);
  height: var(--search-height);
  background-color: rgba(22, 24, 35, 0.06);
  border: 1px solid transparent;
  border-radius: var(--border-radius);
  display: flex;

  input {
    flex: 1;
    height: 100%;
    font-size: 1.6rem;
    color: var(--text-color);
    line-height: 2rem;
    background-color: transparent;
    padding-left: 16px;
    caret-color: var(--primary-color);
  }

  input:not(:placeholder-shown) ~ .search-btn {
    color: rgb(22, 24, 35);
  }

  &:after {
    content: '';
    height: calc(var(--search-height) - var(--search-top-spacer) * 2);
    width: 1px;
    background: rgba(22, 24, 35, 0.12);
    position: absolute;
    right: var(--search-btn-width);
    top: var(--search-top-spacer);
  }

  &:hover,
  &:focus-within {
    border-color: rgba(22, 24, 35, 0.6);
  }

  &:hover .search-btn {
    color: rgb(22, 24, 35);
    background-color: rgba(22, 24, 35, 0.06);
  }
}

.search-result {
  width: var(--search-width);
}

.search-title {
  font-size: 1.6rem;
  font-weight: 500;
  color: rgba(22, 24, 35, 0.5);
  padding: 6px 12px;
}

.clear,
.loading {
  position: absolute;
  right: calc(var(--search-btn-width) + 16px);
  top: 50%;
  transform: translateY(-50%);
  color: rgba(22, 24, 35, 0.34);
}

.search-btn {
  width: var(--search-btn-width);
  height: 100%;
  font-size: 2rem;
  color: rgba(22, 24, 35, 0.34);
  background-color: transparent;
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  cursor: pointer;
}

.action {
  display: flex;
  align-items: center;
}

.more-btn {
  background-color: transparent;
  font-size: 2.4rem;
  margin-left: 24px;
  padding: 4px 8px;
  cursor: pointer;
}
